---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mx-8 my-12">
    <div class="flex flex-col border rounded-xl px-8 py-12 gap-4">
      <h1 class="font-bold text-4xl">Hello, I'm Michée</h1>
      <p class="text-xl">
        I'm a software engineer passionated about programming and technology. I
        would be pleased to talk with you or grab a drink !
      </p>
    </div>
    <div class="flex flex-col sm:flex-row justify-evenly gap-4 mt-8">
      <div class="flex flex-col py-8 px-4 border rounded-xl w-full">
        <h2 class="text-xl">Languages</h2>
        <ul class="list-disc ml-4">
          <li>Go</li>
          <li>Java</li>
          <li>C#</li>
          <li>Javascript/Typescript</li>
          <li>Pytest</li>
        </ul>
      </div>
      <div class="flex flex-col py-8 px-4 border rounded-xl w-full">
        <h2 class="text-xl">Framework & librairies</h2>
        <ul class="list-disc ml-4">
          <li>React</li>
          <li>Laravel</li>
          <li>.NET</li>
          <li>Pytest</li>
        </ul>
      </div>
      <div class="flex flex-col py-8 px-4 border rounded-xl w-full">
        <h2 class="text-xl">Tools</h2>
        <ul class="list-disc ml-4">
          <li>Git</li>
          <li>Vim/NeoVim</li>
          <li>Bash & command line</li>
          <li>Visual Studio</li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
